<html xmlns="http://www.w3.org/1999/xhtml"><head><meta content="text/html; charset=utf-8" http-equiv="Content-Type"/><link href="favicon.ico" rel="shortcut icon"/><title>山东省环境保护厅--2017年山东省砖瓦行业环保专项行动排查情况</title><link href="http://www.sdein.gov.cn/images/sdhbt.css" rel="stylesheet" type="text/css"/><link href="http://www.sdein.gov.cn/images/appendix_download_list.css" rel="stylesheet" type="text/css"/><script language="javascript" src="http://www.sdein.gov.cn/images/jquery.js"></script><script language="javascript" src="http://www.sdein.gov.cn/images/system.js"></script></head><body onload="run()">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<script>
     function gook() {
	document.all.login.pwhidden.value = encode(document.all.login.pwshow.value, parseInt(document.all.login.picnum.value));
 
	document.all.forlogin.submit();
}
 
function encode(datastr, bassnum) {
	var tempstr;
	var tchar;
	var newdata = "";
 
	for (var i = 0; i < datastr.length; i++)
	{
		tchar = 65535 + bassnum - datastr.charCodeAt(i);
		tchar = tchar.toString();
 
		while(tchar.length < 5)
		{
			tchar = "0" + tchar;
		}
 
		newdata = newdata + tchar;
	}
 
	return newdata;
}


   </script>
<tr>
<td background="../../../images/sdhb_01.gif" height="26"><table align="center" border="0" cellpadding="0" cellspacing="0" width="960">
<tr>
<td height="26" width="35%"><a class="gray12" href="javascript:void(0);" href_bak="#" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.sdein.gov.cn');">设为首页</a><a class="gray12" href="javascript:void(0);" href_bak="javascript:addBookmark(document.title)"> 加入收藏</a><a class="gray12" href="javascript:void(0);" href_bak="http://weibo.com/u/3354394424" style=" background:url(../../../images/sinaweibo.gif) no-repeat left; margin-left:20px; padding-left:20px;" target="_blank">政务微博</a><a class="gray12" href="javascript:void(0);" href_bak="../../../xcjy/zwwx/" style=" background:url(http://www.sdein.gov.cn/images/wechat.png) no-repeat left; margin-left:20px; padding-left:20px;padding-top: 2px;">政务微信</a><a class="gray12" href="javascript:void(0);" href_bak="http://1.202.247.200/netreport/netreport/index" style=" background:url(./images/jia.png) no-repeat left; margin-left:20px; padding-left:20px;" target="_blank">“12369”网络举报平台</a></td>
<!--<td align="right">
            <TABLE cellSpacing=0 cellPadding=0 align=right border=0>
                <form action="http://mail.sdein.gov.cn/login.php?forweb=1" method="post" name="login" target="_blank">
                <TBODY>
                <TR>
                

                <TD vAlign=middle align=center width=60 class="gray_text12">用户名</TD>
                <TD><INPUT style="HEIGHT: 12px; font-size:12px" size=7 name=F_email /> <input type="hidden" name=F_domain value=sdein.gov.cn /></TD>
                <TD vAlign=middle align=center width=45 class="gray_text12">密码</TD>
                <TD><INPUT style="HEIGHT: 12px; font-size:12px" type=password size=7 name=F_password /> <INPUT type=hidden value=7652 name=picnum /></TD>
                <TD vAlign=middle align=center width=70><input type="image" height=19 width=58 src="../../../images/yxdl.gif" border=0 onclick="javascript:gook()" /></TD>
                <TD style="CURSOR: hand;" onclick="javascript:document.all.login.reset();" vAlign=middle align=center><IMG height=19 width=45 src="../../../images/mail_reset.gif" border=0 /> </TD></TR>
                </FORM>
                </TBODY>
             </TABLE>
        </td>-->
<td align="right" width="15%"><a class="gray12" href="javascript:void(0);" href_bak="http://wap.sdein.gov.cn/" target="_blank">WAP版</a> <a class="gray12" href="javascript:void(0);" href_bak="http://www.sdein.gov.cn/wzdt/" target="_blank">网站地图</a></td>
</tr>
</table></td>
</tr>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="1001">
<tr>
<td>
<embed height="171" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" src="../../../images/top.swf" type="application/x-shockwave-flash" width="1001" wmode="transparent"></embed>
</td>
</tr>
<tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="1001">
<tr>
<td><table border="0" cellpadding="0" cellspacing="0" width="1001">
<tr>
<td width="86"><img border="0" height="83" src="http://www.sdein.gov.cn/images/sdhb_02.gif" usemap="#Map" width="86"/></td>
<td width="198"><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="48"><img border="0" height="83" src="http://www.sdein.gov.cn/images/sdhb_03.gif" usemap="#Map2" width="48"/></td>
<td background="../../../images/sdhb_03_1.gif"><table align="right" border="0" cellpadding="0" cellspacing="0" width="96%">
<tr>
<td height="20"><a class="white12" href="javascript:void(0);" href_bak="../../../jggk/dwzz/" target="_blank">单位职责</a></td>
<td><a class="white12" href="javascript:void(0);" href_bak="../../../jggk/ldjj/" target="_blank">领导简介</a></td>
</tr>
<tr>
<td height="20"><a class="white12" href="javascript:void(0);" href_bak="../../../jggk/jgcs/" target="_blank">机关处室</a></td>
<td><a class="white12" href="javascript:void(0);" href_bak="../../../jggk/zsdw/" target="_blank">直属单位</a></td>
</tr>
<tr>
<td height="20"><a class="white12" href="javascript:void(0);" href_bak="../../../jggk/lxfs/" target="_blank">联系方式</a></td>
<td></td>
</tr>
</table></td>
</tr>
</table></td>
<td width="229"><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="72"><img border="0" height="83" src="http://www.sdein.gov.cn/images/sdhb_04.gif" usemap="#Map3" width="72"/></td>
<td background="../../../images/sdhb_04_1.gif"><table align="right" border="0" cellpadding="0" cellspacing="0" width="96%">
<tr>
<td height="20" width="51%"><a class="white12" href="javascript:void(0);" href_bak="http://xxgk.sdein.gov.cn/xxgkzn/" target="_blank">公开指南</a></td>
<td width="49%"><a class="white12" href="javascript:void(0);" href_bak="http://xxgk.sdein.gov.cn/xxgkml/" target="_blank">公开目录</a></td>
</tr>
<tr>
<td height="20"><a class="white12" href="javascript:void(0);" href_bak="http://222.173.12.137:8080/apply/sqgk/applyform_add.html" target="_blank">依申请公开</a></td>
<td><a class="white12" href="javascript:void(0);" href_bak="http://xxgk.sdein.gov.cn/xxgkndbg/" target="_blank">公开年报</a></td>
</tr>
<tr>
<td height="20"><a class="white12" href="javascript:void(0);" href_bak="http://xxgk.sdein.gov.cn/zfwj/" target="_blank">政府文件</a></td>
<td><a class="white12" href="javascript:void(0);" href_bak="http://www.sdein.gov.cn/wcm/WCMV6/gkml/sqgk/applyform_query.jsp" target="_blank">申请反馈</a></td>
</tr>
</table></td>
</tr>
</table></td>
<td width="226"><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="77"><img border="0" height="83" src="http://www.sdein.gov.cn/images/sdhb_05.gif" usemap="#Map4" width="77"/></td>
<td background="../../../images/sdhb_05_1.gif"><table align="right" border="0" cellpadding="0" cellspacing="0" width="96%">
<tr>
<td height="20" width="51%"><a class="white12" href="javascript:void(0);" href_bak="../../../zxbs/bszn/" target="_blank">办理指南</a></td>
<td width="49%"><a class="white12" href="javascript:void(0);" href_bak="http://zwfw.sd.gov.cn/sdzw/dept/query.do?orgcode=SD370000HB" target="_blank">在线申报</a></td>
</tr>
<tr>
<td height="20"><a class="white12" href="javascript:void(0);" href_bak="http://zwfw.sd.gov.cn/sdzw/dept/query.do?orgcode=SD370000HB" target="_blank">在线查询</a></td>
<td><a class="white12" href="javascript:void(0);" href_bak="../../../zxbs/gszx/" target="_blank">公示中心 </a></td>
</tr>
<tr>
<td height="20"><a class="white12" href="javascript:void(0);" href_bak="../../../zxbs/xzzx/" target="_blank">下载中心</a></td>
<td><a class="white12" href="javascript:void(0);" href_bak="http://www.sdein.gov.cn/hdyy/hdyy.jsp?channelid=1039" target="_blank">在线咨询</a></td>
</tr>
</table></td>
</tr>
</table></td>
<td width="216"><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="75"><img border="0" height="83" src="http://www.sdein.gov.cn/images/sdhb_06.gif" usemap="#Map5" width="75"/></td>
<td background="../../../images/sdhb_06_1.gif"><table align="right" border="0" cellpadding="0" cellspacing="0" width="96%">
<tr>
<td height="20" width="51%"><a class="white12" href="javascript:void(0);" href_bak="../../../hdjl/wsdc/" target="_blank">网上调查</a></td>
<td width="49%"><a class="white12" href="javascript:void(0);" href_bak="../../../hdjl/myzj/" target="_blank">民意征集</a></td>
</tr>
<tr>
<td height="20"><a class="white12" href="javascript:void(0);" href_bak="../../../hdjl/zxft/" target="_blank">在线访谈</a></td>
<td><a class="white12" href="javascript:void(0);" href_bak="http://www.sdein.gov.cn/hdyy/hdyy.jsp?channelid=1043" target="_blank">您的建议</a></td>
</tr>
<tr>
<td height="20"><a class="white12" href="javascript:void(0);" href_bak="../../../hdjl/bgt/" target="_blank">曝光台</a></td>
<td></td>
</tr>
</table></td>
</tr>
</table></td>
<td><img height="83" src="http://www.sdein.gov.cn/images/sdhb_07.gif" width="46"/></td>
</tr>
</table></td>
</tr>
<map id="Map" name="Map"><area coords="14,13,73,74" href="http://www.sdein.gov.cn/" shape="rect"></area></map>
<map id="Map2" name="Map2"><area coords="4,12,45,72" href="http://www.sdein.gov.cn/jggk/" shape="rect"></area></map>
<map id="Map3" name="Map3"><area coords="23,11,75,70" href="http://xxgk.sdein.gov.cn/" shape="rect"></area></map>
<map id="Map4" name="Map4"><area coords="25,10,81,71" href="http://www.sdein.gov.cn/zxbs/" shape="rect"></area></map>
<map id="Map5" name="Map5"><area coords="26,10,90,71" href="http://www.sdein.gov.cn/hdjl/" shape="rect"></area></map>
</table>
</td>
</tr>
<tr>
<td height="8"></td>
</tr>
<tr>
<td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="43"><img height="42" src="http://www.sdein.gov.cn/images/sdhb_106.gif" width="43"/></td>
<td background="../../../images/sdhb_107.gif"><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td width="57%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td align="center" width="5%"><img height="10" src="http://www.sdein.gov.cn/images/sdhb_101.gif" width="9"/></td>
<td width="95%"><span class="gray_text12">当前位置：<a class="CurrChnlCls" href="javascript:void(0);" href_bak="../../../" target="_blank" title="首页">首页</a> &gt; <a class="CurrChnlCls" href="javascript:void(0);" href_bak="../../" target="_blank" title="环境监察">环境监察</a> &gt; <a class="CurrChnlCls" href="javascript:void(0);" href_bak="../" target="_blank" title="案件查处">案件查处</a> </span> </td>
</tr>
</table></td>
<td width="43%"><table align="center" border="0" cellpadding="0" cellspacing="0" width="50%">
<tr>
<td width="11%"><img height="14" src="http://www.sdein.gov.cn/images/sdhb_109.gif" width="14"/></td>
<td width="39%"><a class="gray12" href="javascript:void(0);" href_bak="javascript:window.print()">打印本页</a></td>
<td width="11%"><img height="14" src="http://www.sdein.gov.cn/images/sdhb_110.gif" width="14"/></td>
<td width="39%"><a class="gray12" href="javascript:void(0);" href_bak="javascript:window.close()">关闭本页</a></td>
</tr>
</table></td>
</tr>
</table></td>
<td width="7"><img height="42" src="http://www.sdein.gov.cn/images/sdhb_108.gif" width="7"/></td>
</tr>
</table></td>
</tr>
<tr>
<td class="bk1" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td> </td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td align="center" height="42"><strong class="black_title">2017年山东省砖瓦行业环保专项行动排查情况</strong></td>
</tr>
<tr>
<td align="center" class="second_title"></td>
</tr>
<tr>
<td align="center" class="dot_bk" height="26"><table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td height="10px"></td></tr>
<tr>
<td align="center" class="gray_text14"><span class="gray_text14">发布日期：2017-03-29</span>
<!--&nbsp;&nbsp;&nbsp;&nbsp;浏览次数:&nbsp; <span id="art_305787"  class="gray_text14"> <script language="JavaScript" charset="utf-8" src="http://www.sdein.gov.cn/countdir/phpstat/server_counts_json.php?website=abceffgh&action=article&artid=305787"></script></span>-->
    <span class="gray_text14"> 来源：</span>    <span class="gray_text14"> 作者：</span></td>
</tr>
<tr><td height="20px"></td></tr>
</table></td>
</tr>
<tr>
<td><table align="center" border="0" cellpadding="0" cellspacing="0" width="86%">
<tr>
<td class="zw_new">
<style type="text/css">.TRS_Editor P{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor DIV{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor TD{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor TH{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor SPAN{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor FONT{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor UL{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor LI{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor A{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}</style><div class="TRS_Editor"><style type="text/css">
.TRS_Editor P{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor DIV{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor TD{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor TH{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor SPAN{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor FONT{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor UL{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor LI{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}.TRS_Editor A{margin-top:0;margin-bottom:0;line-height:2;font-family:仿宋;font-size:18pt;}</style>
<p>　　 <font face="仿宋_GB2312">为贯彻落实环境保护部办公厅《关于督促开展砖瓦行业环保专项行动的函》（环办环监函〔</font><span>2017〕33号）要求，我厅组织各市开展了山东省2017年砖瓦行业环保专项行动。经各市环保局排查，全省共有砖瓦企业1970家（详见附表）。</span></p>
<p align="justify">　　<span> </span> </p>
<p align="justify">　　<span>附表：山东省砖瓦企业名单</span><span><o:p></o:p></span> </p></div>
</td>
</tr>
<tr>
<td>
<div id="dl_title">
<span class="gray_text14">附件：</span>
</div>
<div id="dl_content">
<div class="appendix_list">
<div class="DL_xls"></div>
<div class="appendix_title">
<a class="fujian" href="javascript:void(0);" href_bak="http://www.sdein.gov.cn/hjjc/ajcc/201703/P020170329564560642040.xls">
											砖瓦行业名单.xls
										</a>
</div>
</div>
</div>
</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td align="center" height="32"><a class="blue12" href="javascript:void(0);" href_bak="javascript:window.close()">关闭本页</a></td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
<tr>
<td height="12"></td>
</tr>
<tr width="100%">
<td colspan="2" height="90">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="80%">
<tr>
<td align="center" class="date12" height="20">主办单位：山东省环境保护厅 联系电话：0531-86106112</td>
</tr>
<tr>
<td align="center" class="date12" height="20">地址：济南市经十路3377号，邮编：250101</td>
</tr>
<tr>
<td align="center" class="date12" height="20">网站管理：山东省环境保护宣传教育中心
  </td>
</tr>
<tr>
<td align="center" class="date12" height="20">技术支持：山东省环境信息与监控中心  </td>
</tr>
<tr>
<td align="center" class="date12" height="20">Copyright 2012 sdein.gov.cn   鲁ICP备：09042362</td>
</tr>
</table>
<p style="text-align:center;"><script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/16/000/0000/40696241/CA160000000406962410001.js' type='text/javascript'%3E%3C/script%3E"));</script></p>
</td>
</tr>
</table>
<script language="javascript">
<!--点击量统计-->

function run(){
	$.get("http://www.sdein.gov.cn/hitcount/hitCounts.jsp?docid=305787", {Action:"get",Name:""}, 
	function (data, textStatus){
		$("#clickcount")[0].innerHTML='浏览次数:<font color="000000" id="s">'+data+'</font>';
	}
	)
}

<!--点击量统计-->   
</script>
<iframe height="0" src="http://www.sdein.gov.cn/hitcount/hitscount_add.jsp?docid=305787" style="display:none;"></iframe>
<!-- PHPStat Start -->
<script language="javascript">var __$nodeid='1067';var __$contentid='305787';var __$title='2017年山东省砖瓦行业环保专项行动排查情况';var __$AuthorPh='';var __$Editor='';var __$Liability='李兆云';var __$pubtime='2017-03-29 15:40:00';var __$source='';
</script>
<script charset="utf-8" language="JavaScript" src="http://www.sdein.gov.cn/countdir/phpstat/count/abceffgh/abceffgh.js"></script><noscript><img alt="" src="http://www.sdein.gov.cn/countdir/phpstat/count/abceffgh/abceffgh.php" style="border:0"/></noscript>
<!-- /PHPStat End -->
</body></html>
{% load staticfiles %}<script type="text/javascript" src="{% static 'js/jquery-3.2.0.min.js' %}"></script><script type="text/javascript" src="{% static 'js/iframe_common.js' %}"></script><script type="text/javascript" src="{% static 'js/iframe_detail.js' %}"></script>